<!DOCTYPE html>
<html>
	<head>
		<title>COLUMN LEFT3</title>
		<link rel="shortcut icon" href="anh.jpg">
		<link rel="stylesheet" type="text/css" href="3_column_left.css">
		<meta name="description" content="web đẹp ">
		<meta name="keyword" content="PHP7,HTML5,CSS,Bookstrap">
	</head>
	<body>
		<div id="container">
			<p><div id="a"></div></p>
			<p><div id="b">
					<div class="c"></div>
					<div class="d"></div>
					<div class="e"></div>
					<div class="clear"></div>
				</div></p>
			<p><div id="g"></div></p>
		</div>
		<h3><center>3 COLUMN,LEFT </center></h3>

	</body>
</html>