#container{
	width: 100%;
    margin: 0px auto;
    color: #FFF;
    color: #00CC00;
}
#header{
	height: 100px;
}
.logo{
	width: 30%;
	float: left;
	height: 100px;
}
.banner{
	width: 	70%;
	float: right;
	height: 100px;
	color: #00CC00;
}